
.wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 400px 100px 100px;
    grid-gap: 0.25em;
 
}

.wrapper > div {
	background-color:#eee;
    padding: 1em;
}

.grid-item1 {
	grid-column: 1 / 5;
}